@font-face {
  font-family: 'Handlee';
  src: local('Handlee'),
    url('./styles//fonts/Handlee-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merienda One';
  src: local('Merienda One'),
    url('./styles//fonts/MeriendaOne-Regular.ttf') format('truetype');
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
