.homepage {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../../white_by_tuyetdinhsinhvat_d5b14h0-fullview.jpg');
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  z-index: 1;
  font-family: 'Akaya Telivigala', cursive;
}